BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 75
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
SpacesBeforeTrailingComments: 3
SpaceAfterTemplateKeyword: true
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: Align
